.App {
  text-align: center;
}

.App-logo {
  height: 5vmin;
  pointer-events: none;
}


.links  {
  list-style-type: none;
}

.links a {
  color: #fff;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

.App-footer a {
  color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 200px) and (max-width: 700px) {
  .présentation {
    display: none;
  }
}

